doctype html
html
  head
    title= title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js', type='text/javascript')
  body
      #overall_area
        h1= title
        block content
