a
{
  color: #00B7FF;
}

body
{
	font-family: 'SimSun', serif;
	background-image: url('/images/bkg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	width: 1323px;
	height: 678px;
	padding: 0;
}

#overall_area
{
	width: 550px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	color: #777777;
}

h1
{
	color: white;
	font-size: 50px;
}

#repeat_notice
{
	position: absolute;
	left: 250px;
	top: 50px;
	/*border: 1px solid blue;*/
	height: 30px;
	width: 190px;
	color: red;
}

.form_container
{
	background-color: white;
	position: absolute;
	box-shadow: 3px 3px 10px 1px grey;
	width: 500px;
	padding-left: 50px;
	padding-bottom: 30px;
}

#regist_container
{
	height: 450px;
}

#login_container
{
	height: 310px;
}

#detail_container
{
	height: 400px;
}

h2
{
	position: absolute;
	top: 10px;
	font-size: 35px;
}

.form_style
{
	position: relative;
	left: 30px;
	top: 115px;
}

.input_area,.info_item
{
	font-size: 25px;
	width: 300px;
	margin-top: 10px;
}

.input_area>input
{
	height: 30px;
	width: 180px;
	padding: 0;
	font-size: 20px;
	position: absolute;
	right: 210px;
	outline: none;
	border-left: none;
	border-right: none;
	border-top: none;
	/*border: 1px solid blue;*/

	background-color: #fbfbfb;
}

.button_area
{
	position: absolute;
	bottom: -100px;
	right: 70px;
}

.button_area>input, #logout
{
	margin-right: 5px;
	color: white;
	font-size: 20px;
	width: 80px;
	height: 40px;
	border: none;
	background-color: #4486FF;
	box-shadow: 0px 2px 10px 0px grey;
	margin-bottom: 35px;
}

.button_area>input:hover, #logout:hover
{
	background-color: #3379fb;
}

#logout
{
	position: absolute;
	left: 420px;
	top: 350px;
}

.tip
{
	position: absolute;
	right: 40px;
	width: 160px;
	height: 30px;
	display: inline-block;
	/*border: 1px solid blue;*/
	font-size: 15px;
	color: red;
}

.canUse
{
	color: green;
}

#info_container
{
	position: absolute;
	left: 130px;
	top: 100px;
	width: 300px;
	height: 300px;
	font-size: 25px;
}

#login_form>.input_area
{
	margin-bottom: 30px;
	right: 220px;
}

#Logout
{
	position: absolute;
	top: -190px;
	right: -20px;
}